<section class="bg-white mb-4">
  <div class="container px-4 mx-auto">
    <div>
        <%= link_to 'Regresar', institution_path(@place.institution), class:"font-medium text-indigo-500 hover:underline"%>
    </div>
    <div>
        <h2 class="mr-2 text-xl font-bold">Editar Cámaras <%= @place.name %></h2>
    </div>
    <%= render "form", place: @place %>
  </div>
</section>
