<section class="bg-white">
  <div class="container px-4 mx-auto">
    <h2 class="mb-10 text-3xl font-semibold font-heading">Editar Cámaras <%= @place.name %></h2>
    <%= render "form", place: @place %>
  </div>
</section>
